.fp-tableCell {
  //vertical-align: top !important;
}

@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url(../fonts/ProximaNovaExtrabold.eot);
  src: url(../fonts/ProximaNovaExtrabold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNovaExtrabold.woff) format("woff"),
  url(../fonts/ProximaNovaExtrabold.ttf) format("truetype"),
  url(../fonts/ProximaNovaExtrabold.svg) format("svg");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url(../fonts/ProximaNovaBold.eot);
  src: url(../fonts/ProximaNovaBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNovaBold.woff) format("woff"),
  url(../fonts/ProximaNovaBold.ttf) format("truetype"),
  url(../fonts/ProximaNovaBold.svg) format("svg");
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url(../fonts/ProximaNovaSemibold.eot);
  src: url(../fonts/ProximaNovaSemibold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNovaSemibold.woff) format("woff"),
  url(../fonts/ProximaNovaSemibold.ttf) format("truetype"),
  url(../fonts/ProximaNovaSemibold.svg) format("svg");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(../fonts/ProximaNovaRegular.eot);
  src: url(../fonts/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNovaRegular.woff) format("woff"),
  url(../fonts/ProximaNovaRegular.ttf) format("truetype"),
  url(../fonts/ProximaNovaRegular.svg) format("svg");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url(../fonts/ProximaNovaLight.eot);
  src: url(../fonts/ProximaNovaLight.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ProximaNovaLight.woff) format("woff"),
  url(../fonts/ProximaNovaLight.ttf) format("truetype"),
  url(../fonts/ProximaNovaLight.svg) format("svg");
}


