.page_title {
  font: 48px $ProximaNovaExtrabold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: .7px;

  @include respond-to-min($desktop) {
    margin-bottom: 35px;
  }
}

.content_holder {
  @extend %clearfix;

  @include respond-to-min($desktop) {
    &.aside_r_mod {
      .content_block {
        margin-right: 240px;
        float: left;
      }
    }

    &.aside_l_mod {
      .content_block {
        margin-left: 240px;
        float: left;
      }
    }
  }

}

.aside_right {
  @extend %clearfix;
  margin-bottom: 20px;

  @include respond-to-min($desktop) {
    float: right;
    width: 190px;
    margin-left: -100%;
  }

}

.aside_left {
  @extend %clearfix;
  margin-bottom: 20px;

  @include respond-to-min($desktop) {
    float: left;
    width: 190px;
    margin-right: -100%;
    position: relative;
    left: 7px;
  }

}

.history_unit {

  .history_item_v2 & {
    overflow: hidden;
    background: #fff;
    padding: 20px;

    .history_caption {
      letter-spacing: -.3px;
    }

    @include respond-to-min($tablet) {
      height: 495px;
      padding: 50px;
    }
  }
}

.load_more_block {
  text-align: center;
  margin-bottom: 60px;
}

.aside_menu_holder {
  @include respond-to-max($desktop) {
    float: left;
  }
}

.aside_menu_dropdown {
  position: relative;

  .select2-container {
    min-width: 100%;
  }

  .select2-dropdown {
    white-space: nowrap;
    width: auto !important;
    display: block;
    min-width: 100%;
  }

  .select2-results__options {
    overflow-x: hidden;
  }

}

.aside_menu {

  &.invert_mod {
    .aside_m_link {
      @include transition_all(border-color .3s);
      display: block;
      border: 3px solid transparent;
      color: #951a37;
      text-decoration: none;
      padding: 8px;

      span {
        @include transition_all(border-color .3s);
        border-bottom: 1px dotted #951a37;
      }

      &:hover {
        span {
          border-color: transparent;
        }
      }
    }

    .ui-state-active > .aside_m_link,
    .active > .aside_m_link {
      color: #fff;
      background: #951a37;

      span {
        border-color: transparent;
      }
    }
  }
}

.aside_m_item {

  .invert_mod & {
    margin-bottom: 8px;
  }
}

.aside_m_link {
  @include transition_all(border-color .3s);
  display: block;
  border: 3px solid transparent;
  color: #fdfdfd;
  text-decoration: none;
  padding: 10px 22px 9px;
  font: 16px $ProximaNovaSemibold;

  span {
    @include transition_all(border-color .3s);
    border-bottom: 1px dotted #fff;
  }

  &:hover,
  .active > & {
    span {
      border-color: transparent;
    }
  }

  .active > & {
    cursor: default;
    border-color: #951a37;
  }
}
