.page_title {
  font: 48px $ProximaNovaExtrabold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: .7px;

  @include respond-to-min($desktop) {
    margin-bottom: 35px;
  }
}

.content_holder {
  @extend %clearfix;

  @include respond-to-min($desktop) {
    &.aside_r_mod {
      .content_block {
        margin-right: 240px;
        float: left;
      }
    }
  }

}

.aside_right {
  @extend %clearfix;
  margin-bottom: 20px;

  @include respond-to-min($desktop) {
    float: right;
    width: 190px;
    margin-left: -100%;
  }

}

.history_unit {

  .history_item_v2 & {
    overflow: hidden;
    background: #fff;
    padding: 50px;

    .history_caption {
      letter-spacing: -.3px;
    }

    @include respond-to-min($tablet) {
      height: 495px;
    }
  }
}

.load_more_block {
  text-align: center;
  margin-bottom: 60px;
}

.aside_menu_holder {
  @include respond-to-max($desktop) {
    float: left;
  }
}

.aside_menu_dropdown {
  position: relative;

  .select2-container {
    min-width: 100%;
  }
  
  .select2-dropdown {
    white-space: nowrap;
    width: auto !important;
    display: block;
    min-width: 100%;
  }

  .select2-results__options {
    overflow-x: hidden;
  }

}

.aside_menu {

}

.aside_m_item {

}

.aside_m_link {
  @include transition_all(border-color .3s);
  display: block;
  border: 3px solid transparent;
  color: #fdfdfd;
  text-decoration: none;
  padding: 10px 22px 9px;
  font: 16px $ProximaNovaSemibold;

  span {
    @include transition_all(border-color .3s);
    border-bottom: 1px dotted #fff;
  }

  &:hover,
  .active & {
    span {
      border-color: transparent;
    }
  }

  .active & {
    cursor: default;
    border-color: #951a37;
  }

}