$gl_green: #2dcda1;
$gl_blue: #00b1ff;
$gl_blue_v1: #24a6df;

$desktop: 1200px;
$tablet: 960px;
$mobile: 720px;

$tablet_h: 800px;

html, body {
  height: 100% !important;
}

html {
  overflow-y: scroll;

  &.page_slider_mod {

    @include respond-to-min($desktop) {
      overflow: hidden;

      .wrapper {
        height: 100%;
      }
    }
  }
}

body {
  font: 14px/1.2 $ProximaNovaRegular;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix {
  @extend %clearfix;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;

  //min-width: 960px;

  &.inner_page {
    padding-top: 80px;

    @include respond-to-min($desktop) {
      padding-top: 260px;
    }
  }

  &.history_bg {
    background: #25354c url(../i/history/bg_history.jpg) no-repeat 50% 0;
  }

  &.reviews_bg {
    background: #0a295b url(../i/reviews/reviews_bg.jpg) no-repeat 50% 0;
  }

}

b {
  font-family: $ProximaNovaBold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.section_inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  .inner_page .main_content & {
    @include respond-to-max($desktop) {
      padding: 25px 10px 5px;
    }
  }

}

//*************************** header

.header {
  @extend %translate3d;
  @include transition_all(height .3s);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding-top: 50px;

  @include respond-to-max($desktop) {
    .open_menu & {
      //height: 100%;
      //position: fixed;
      //
      //.top_menu_holder,
      //.logo_section {
      //  display: none;
      //}
    }
  }

  @include respond-to-min($desktop) {
    //position: fixed;
  }
}

.top_menu_holder {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);

  @include respond-to-min($desktop) {
    position: fixed;

    &::before {
      //content: '';
      //position: absolute;
      //top: 0;
      //right: 0;
      //left: 0;
      //height: 50px;
      //background: rgba(0, 0, 0, .8);
    }

    .header_fixed & {

      &::before {
        //background: #951a37;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
      }

      .logo_section,
      .top_menu {
        //display: none;
      }
    }
  }
}

.top_menu {
  @extend %clearfix;
  line-height: 50px;

  @include respond-to-max($desktop) {
    padding: 0 55px;
    display: none;

    .top_m_item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.link_icon {
  position: absolute;
  left: -9px;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -24px;
}

.top_m_item {
  float: left;
  margin-right: 42px;

  .gl_link {
    display: block;
    position: relative;
    padding-left: 40px;
    padding-right: 6px;
    color: #6c7177;
    text-decoration: none;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      height: 40px;
      width: 40px;
      margin-top: -20px;
      font-size: 32px;
      line-height: 40px;
    }

    span {
      @extend .mb;
      font-size: 14px;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.header_menu_holder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  @include respond-to-min($desktop) {
    top: 50px;
    z-index: 1;

    .header_fixed & {
      .nav_holder,
      .logo_section {
        opacity: 0;
      }
    }
  }
}

.logo_section {
  //@include transition_all(opacity .3s);
  @extend %clearfix;
  position: relative;
  line-height: 90px;
  text-align: center;

  > .fl,
  > .fr {
    text-align: left;
  }

  @include respond-to-max($desktop) {

    .header_fixed & {
      display: none;
    }

    > .fl,
    > .fr {
      float: none;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
    }
  }

  @include respond-to-max($mobile) {
    //> .fl,
    //> .fr {
    //  display: none;
    //}
  }
}

.partner_logo_holder {
  text-align: center;
  line-height: normal;
  margin-top: 15px;
  display: none;

  @include respond-to-min($desktop) {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    width: 204px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.logo_holder {
  text-align: center;

  @include respond-to-min($desktop) {
    margin: 0;
  }
}

.logo_icon {
  display: inline-block;
  vertical-align: top;
  margin-left: -10px;
  width: 151px;
  height: 50px;
  background: url(svg/wiseadvice-logo.svg) no-repeat 0 0;
}

.logo {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 204px;
  height: 50px;
  overflow: hidden;

  &::before {
    display: inline-block;
    vertical-align: top;
    font-size: 200px;
    line-height: 50px;
    color: #fff;
  }
}

.company_name {
  color: #fff;
  font: 40px $ProximaNovaExtrabold;
  letter-spacing: -.75px;
  text-decoration: none;

  @include respond-to-min($tablet) {
    margin-right: 35px;
  }

}

.company_slogan {
  color: #fff;
  font: 16px $ProximaNovaLight;
  text-align: left;
}

.callback_icon {
  position: absolute;
  left: 0;
  top: 50%;
  height: 34px;
  width: 34px;
  overflow: hidden;
  margin-top: -17px;
  color: #fff;

  span {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -10px;
    top: -10px;
  }

}

.callback_phone {
  position: relative;
  display: block;
  margin-left: 45px;
  text-decoration: none;
  color: #fff;
  font: 24px $ProximaNovaSemibold;
  padding-left: 40px;
  letter-spacing: -.1px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 34px;
    margin-top: -17px;
    color: #fff;
  }
}

.main_menu_holder {
  padding-bottom: 15px;

  @include respond-to-min($desktop) {
    float: left;
    padding: 0;

    .menu_item {
      float: left;
    }
  }
}

.user_menu_holder {
  padding: 20px 0;

  @include respond-to-min($desktop) {
    float: right;
    padding: 0;
  }
}

.nav_overlay {
  @include transition_all(opacity .3s);
  position: absolute;
  top: 0;
  left: 100%;
  height: 30000px;
  width: 10000px;
  content: '';
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, .45);
}

.nav_holder {
  @include transition_all(transform .3s, box-shadow .3s);
  background: #951a37;

  @include respond-to-max($desktop) {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    max-width: calc(100% - 50px);
    pointer-events: none;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    &::before {
      background: #951a37;
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: 30000px;
    }

    .open_menu & {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      pointer-events: all;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

      .nav_overlay {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.nav {
  @extend %clearfix;
  @include transition_all(transform .3s);
  background: #951a37;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 2;

  @include respond-to-min($desktop) {
    line-height: 50px;
    //padding: 0 15px;
    height: 50px;
    overflow: hidden;

    .user_menu {
      .user_m_item:last-child {
        padding-right: 35px;
      }
    }

    .home_link {
      padding-left: 37px;
    }
  }
}

.open_menu_btn {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
  background: #951a37;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .35);

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    margin-left: -10px;
  }

  &::before {
    margin-top: -1px;
    height: 2px;
    background: #fff;
  }

  &::after {
    height: 20px;
    margin-top: -10px;
    border: solid #fff;
    border-width: 2px 0;
  }

  &:hover {
    background: #7d0f29;
  }

  @include respond-to-max($desktop) {
    display: block;
  }
}

.menu_link {
  @include transition_all(background .3s);
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0 15px 4px;
  color: #fff;
  text-decoration: none;
  font: 18px/46px $ProximaNovaSemibold;
  letter-spacing: -.2px;

  .active & {
    cursor: default;
  }

  .active &,
  &:hover {
    background: #7d0f29;
  }

}

.soc_icon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;

  span {
    position: absolute;
    top: -3px;
    left: -6px;
    width: 30px;
    height: 30px;
  }
}

.home_link_icon {
  position: absolute;
  top: -7px;
  left: 7px;
}

.home_link {
  font-size: 21px;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;

  @include respond-to-max($desktop) {
    padding-right: 10px;
    display: none;
  }
}

.lang_link {
  display: block;
  //margin-top: -4px;
  //line-height: 24px;
  color: #fff;
  text-decoration: none;

  span {
    margin: 0 11px 0 3px;
  }

  span,
  img {
    display: inline-block;
    vertical-align: middle;
  }

}

.user_menu {
  display: inline-block;
  vertical-align: middle;
}

.user_m_item {
  float: left;
  position: relative;
  padding: 0 20px 0 32px;
  min-height: 24px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: #aa485f;
  }

  @include respond-to-max($desktop) {
    padding: 0 15px;

    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}

.user_m_link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;

  &::before {
    font-size: 18px;
  }

}

.go_top_btn {
  @include transition_all(transform .5s, opacity .5s);
  @include transform_translate(0, 50px);
  position: fixed;
  bottom: 80px;
  right: 44px;
  border-radius: 4px;
  background: #fff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  z-index: 3;
  opacity: 0;
  overflow: hidden;

  &::before {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    color: #951a37;
  }

  .show_go_top & {
    @include transform_translate(0, 0);
    opacity: 1;
  }

  @include respond-to-max($tablet) {
    bottom: 15px;
    right: 15px;
  }

  span {
    position: absolute;
    top: -3px;
    left: -3px;
  }
}

.gl_overlay {
  @include transition_all(opacity .3s);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background: rgba(0, 0, 0, .45);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  display: none;

  .open_menu & {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }

}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll_down_btn {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  z-index: 3;
  text-align: center;

  @include respond-to-max($tablet) {
    bottom: 10px;
    display: none;
  }
}

.scroll-btn {
  @extend %translate3d;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #fff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 50px;
  margin: 0 auto 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 12px;

  @include respond-to-max($tablet) {
    width: 20px;
    height: 30px;
  }
}

.learn_more {
  display: block;
}

.scroll-btn .mouse_wheel {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

#fp-nav {

  @include respond-to-max($desktop) {
    display: none;
  }

  &.right {
    right: 36px;
  }

  ul {

    li {
      width: 22px;
      height: 22px;
      margin: 16px;

      .fp-tooltip.right {
        top: 2px;
        right: 30px;
      }

      a {
        @extend %translate3d;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        border: 2px solid #fff;

        span {
          @extend %translate3d;
          display: none;
        }

        &.active {
          cursor: default;

          span {
            display: block;
            width: 8px;
            height: 8px;
            background: #fff;
            margin: -4px 0 0 -4px;
          }
        }
      }
    }
  }
}

.lang_menu {
  min-width: 60px;
}

.chzn-drop {
  z-index: 10;
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
}

.chzn-search {

  .no_search & {
    display: none;
  }

}

.slider_holder {
  height: 100vh;
}

.hero_slider {
  @extend %clearfix;
  @include transition_all(opacity .3s);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  height: 100%;
  position: relative;
  z-index: 1;

  .slick-list,
  .slick-track {
    height: 100%;
  }

  &.slick-initialized {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    ~ .hero_slider_controls {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.hero_slider_controls {
  @include transition_all(opacity .3s);
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: 5px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  .section_inner {
    padding: 0 !important;
  }

  .slide_prev,
  .slide_next {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #fff;
    width: 80px;
    height: 80px;

    &::before {
      position: absolute;
      font-size: 80px;
    }

    @include respond-to-max($tablet) {
      width: 40px;
      height: 40px;

      &::before {
        font-size: 40px;
      }
    }
  }

  .slide_prev {
    left: 0;

    &::before {
      left: 0;
      @include transform_rotate(-90);
    }
  }

  .slide_next {
    right: 0;

    &::before {
      right: 0;
      @include transform_rotate(90);
    }
  }
}

.hero_slide {
  float: left;
  height: 100%;

  .gl_table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .gl_table_cell {
    display: table-cell;
    vertical-align: middle;
  }

}

.chzn-single {

  .chosen_v1 & {
    display: block;
    color: #fff;
    line-height: 24px;

    span {
      position: relative;
      display: block;
    }
  }
}

.lang_flag {
  padding-left: 32px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 26px;
    height: 20px;
  }

  &.flag_gb {
    &::before {
      background: url(../i/sprite.png) no-repeat 0 0;
    }
  }

  &.flag_rf {
    &::before {
      background: url(../i/sprite.png) no-repeat -28px 0;
    }
  }
}

.chzn-container {
  position: relative;
  display: block;

  &.chzn-with-drop .chzn-drop {
    display: block;
  }
}

.search-choice {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 55px;
  padding: 2px 17px 1px 4px;
  margin: 0 3px 4px 0;
  border: 1px solid #888;
  border-radius: 2px;
  text-decoration: none;
}

.search-choice-close {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  background: #f1f1f1;

  &:hover {
    background: #ccc;
  }
}

.chzn-results {
  display: block;
  border-radius: 2px;
  border: 1px solid #a7a69c;
  background: #fff;
}

.chzn_item {
  cursor: pointer;
  position: relative;
  line-height: 26px;
  display: block;
  padding: 0 5px 0 30px;

  color: #5e5e5e;

  &:hover {
    color: #fff;
    background: #bebebe;
  }

  &.result-selected {
    cursor: default;
    color: #fff;
    background: #e2e2e2 !important;
  }
}

//************  page slider

.fp-tableCell {
  min-width: 100vw;
}

.header_fixed {

  @include respond-to-min($desktop) {
    .slide_section.section_v1 .section_inner {
      padding-top: 50px;
    }
  }
}

.slide_section {

  &.section_v1 {
    position: relative;

    &:first-child {
      min-height: 100vh;
      padding-top: 50px;
    }

    .section_inner {
      position: relative;
      z-index: 1;
      padding: 10px 0;

      @include respond-to-max($desktop) {
        padding: 25px 10px 5px;
      }
    }

    .slide_s_inner {

      @include respond-to-min($tablet) {
        padding-top: 60px;
      }
    }

    .header .section_inner {
      padding: 0;
    }

    .slide_img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      img {
        @extend %hor_vert_centr;
        position: absolute;
        display: block;
        width: 100%;
        min-height: 100%;
      }

    }

    .slide_content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

  }

}

.slide_bg_v1 {
  background: #dee0e7;
}

.slide_bg_v2 {
  background: #951a37;
}

.hero_block {
  float: left;
  max-width: 360px;
  padding-left: 20px;
  color: #fff;

  .block_title {
    margin-bottom: 30px;
  }

  @include respond-to-max($tablet) {
    padding: 0 30px;
    max-width: none;

    .block_title {
      margin-bottom: 10px;
    }
  }
}

.block_title {
  font: 48px/1 $ProximaNovaExtrabold;
  text-transform: uppercase;
  //margin-bottom: 30px;
  margin-bottom: 2.1%;
  letter-spacing: .65px;

  @include respond-to-max($tablet) {
    font-size: 32px;
  }
}

.block_caption {
  font: 24px/1 $ProximaNovaLight;
  margin-bottom: 15px;

  @include respond-to-max($tablet) {
    font-size: 20px;
  }
}

.block_subcaption {
  font: 18px/1.5 $ProximaNovaLight;
}

.hero_slogan {
  font-size: 16px;
  line-height: 1.4;
}

.solution_list {
  @extend %clearfix;
  margin-left: -4px;
  //padding-top: 20px;

  @include respond-to-min-h($tablet-h) {
    padding-top: 2%;
    margin-left: -44px;
  }
}

.solution_col {
  padding-left: 15px;
  margin-bottom: 50px;

  @include respond-to-min($tablet) {
    width: 49.3%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
  }

  @include respond-to-min($desktop) {
    float: left;
    width: 25%;
  }

  @include respond-to-min-h($tablet-h) {
    padding-left: 55px;
    margin-bottom: 25px;
  }
}

.solution_item {
  @extend .icon-before;
  @extend .icon-checkmark3;
  position: relative;
  padding-left: 25px;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -.18px;

  &::before {
    position: absolute;
    top: 0;
    left: -4px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #91969c;
    border: 2px solid #91969c;
    text-align: center;
  }
}

.solution_header {
  @extend %clearfix;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding-left: 20px;

  @include respond-to-max($tablet) {
    padding-left: 0;
    line-height: 120px;
    white-space: nowrap;

    .solution_icon,
    .solution_caption {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      line-height: normal;
      max-width: 65%;
    }
  }

  &.header_red {
    color: #951a37;
  }

  &.header_blue {
    color: #1a4895;
  }

  &.header_green {
    color: #1a9551;
  }

  &.header_yellow {
    color: #e18309;
  }
}

.solution_caption {
  font: 24px $ProximaNovaBold;
  margin-bottom: 25px;
  letter-spacing: -.2px;
}

.solution_icon {
  height: 120px;
  min-width: 120px;
  position: relative;

  .service_icon {
    @extend %vert_centr;
    position: absolute;
    left: 0;
    margin-top: -8px;

    //width: 120px;
    //height: 120px;
  }

  @include respond-to-max($tablet) {
    margin-right: 10px;
  }

  &::before {
    font-size: 100px;
  }
}

.history_list {
  @extend %clearfix;
  padding-top: 40px;

  &.col_2_mod {
    padding-top: 0;
    padding-bottom: 33px;
  }

  @include respond-to-min($tablet) {
    margin-right: -1%;
    margin-left: -52px;
    padding-top: 80px;

    &.col_2_mod {
      padding-top: 0;
      margin-right: 0;
      margin-left: -23px;
    }

  }

  @include respond-to-min-h($tablet_h) {
    min-height: 640px;
  }
}

.history_item {
  overflow: hidden;
  margin-bottom: 30px;

  p {
    line-height: 22px;
  }

  .col_2_mod & {
    margin-bottom: 23px;
  }

  @include respond-to-min($tablet) {
    float: left;
    width: 33%;
    padding-left: 52px;

    .col_2_mod & {
      width: 50%;
      padding-left: 23px;

      &:nth-child(2n + 1) {
        clear: both;
      }
    }
  }
}

.history_img {
  margin-bottom: 30px;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-max($tablet) {
    float: left;
    margin-right: 20px;
  }

  @include respond-to-max($mobile) {
    float: none;
    margin: 0 0 10px;
  }
}

.history_caption {
  font: 23px $ProximaNovaExtrabold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.partner_list_holder {
  margin: 0 auto;
  max-width: 870px;
}

.partner_list {
  @extend %clearfix;
  margin-left: -10px;
  padding-top: 15px;

  @include respond-to-min($desktop) {
    margin-left: -20px;
  }

  @include respond-to-min-h($tablet-h) {
    padding-top: 55px;
  }
}

.partner_item {
  //margin-bottom: 70px;
  margin-bottom: 4%;
  padding-left: 10px;
  text-align: center;
  width: 49.35%;
  display: inline-block;
  vertical-align: top;

  @include respond-to-min($tablet) {
    width: 24.65%;
  }

  @include respond-to-min-h($tablet-h) {
    margin-bottom: 7.5%;
  }

  @include respond-to-min($desktop) {
    padding-left: 30px;
  }

  @include respond-to-max($tablet) {
    margin-bottom: 25px;
  }
}

.partenr_name {
  font: 14px/20px $ProximaNovaRegular;
  letter-spacing: -.45px;
}

.partner_logo {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;

  img {
    display: block;
    max-width: 100%;
  }
}

.choice_list_holder {
  margin: 0 auto;
}

.choice_list {
  @extend %clearfix;
  padding-top: 40px;
  margin-bottom: 20px;

  @include respond-to-max($tablet) {
    margin-bottom: 60px;
  }
}

.choice_col {
  @include respond-to-min($tablet) {
    width: 50%;
    float: left;
  }
}

.choice_info {
  font: 18px/28px $ProximaNovaLight;
  color: #fff;
  text-align: center;

  @include respond-to-max($desktop) {
    margin-bottom: 20px;
  }
}

.choice_icon {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: 85px;

  span {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include respond-to-max($tablet) {
    left: -20px;
    top: -20px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.choice_item {
  position: relative;
  padding-left: 50px;
  min-height: 70px;
  margin-bottom: 20px;
  font: 22px $ProximaNovaLight;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
  }

  @include respond-to-min($tablet) {
    padding-left: 190px;

    &::before {
      left: 90px;
      font-size: 70px;
    }
  }

  @include respond-to-min-h($tablet_h) {
    min-height: 85px;
    margin-bottom: 50px;
  }

  @include respond-to-max($tablet) {
    min-height: 50px;
    margin-bottom: 20px;
    font-size: 20px;

    &::before {
      margin-top: -5px;
    }
  }
}

.order_form_holder {
  margin: 0 auto;
  max-width: 556px;
  padding: 5px 0;

  @include respond-to-min-h($tablet_h) {
    padding: 30px 0;
  }
  @include respond-to-max($desktop) {
    padding-bottom: 0;
  }
}

.form_tip {
  //margin: 45px 0 30px;
  margin: 2% 0;
  font-size: 20px;
  color: #fff;
  text-align: center;

  @include respond-to-min-h($tablet_h) {
    margin: 8% 0 5.5%;
  }

}

.gl_link {

  &.link_white {
    text-decoration: none;

    span {
      color: #fff;
      border-bottom: 1px solid transparentize(#fff, .7);
    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }

  }

  &.link_red {
    text-decoration: none;

    span {
      color: #951a37;
      //border-bottom: 1px solid #cfb8c4;
      border-bottom: 1px solid transparentize(#951a37, .75);

    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }

  }

  &.link_blue {
    text-decoration: none;

    span {
      color: #1a4895;
      //border-bottom: 1px solid #b7c2d7;
      border-bottom: 1px solid transparentize(#1a4895, .75);

    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }

  &.link_green {
    text-decoration: none;

    span {
      color: #1a9551;
      //border-bottom: 1px solid #b7d1c9;
      border-bottom: 1px solid transparentize(#1a9551, .75);

    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }

  &.link_yellow {
    text-decoration: none;

    span {
      color: #e18309;
      //border-bottom: 1px solid #dfcdbb;
      border-bottom: 1px solid transparentize(#e18309, .75);

    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }
}

//************  forms

.hidden_input {
  display: none;
}

.check_emul {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;

  .hidden_input:checked + .check_text {
    @extend .icon-checkmark2;
  }

  .check_text {
    @extend .icon-before;
    display: block;
    position: relative;
    padding-left: 62px;
    line-height: 42px;
    min-height: 42px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      width: 42px;
      height: 42px;
      text-align: center;
      font-size: 30px;
      line-height: 36px;
      border: 3px solid #fff;
    }
  }
}

.form_row {
  @extend %clearfix;

  &.service_row {
    font: 16px $ProximaNovaLight;

    @include respond-to-min-h($tablet_h) {
      padding-bottom: 20px;
    }
  }

  &.cell_2 {
    margin-left: -27px;

    .form_cell {
      padding-left: 27px;

      @include respond-to-min($tablet) {
        float: left;
        width: 50%;
      }
    }
  }
}

.form_cell {

  &.cell_v1 {
    margin-bottom: 19px;
  }
}

.f_input {
  display: block;
  width: 100%;

  &.input_v1 {
    border-radius: 2px;
    background: #fff;
    padding: 15px 20px;
    color: #000;
    font: 16px/20px $ProximaNovaRegular;
  }
}

textarea.input_v1 {
  height: 120px;
}

//************  buttons

.btn_icon {
  margin-left: -4px;
}

.btn_v1 {
  height: 40px;

  &.review_btn {
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-transform: uppercase;
    font: 13px/38px $ProximaNovaSemibold;
    text-decoration: none;
    padding: 0 30px;
    letter-spacing: 0.5px;
    border-width: 1px;
    border-style: solid;
  }

  &.callback_btn {
    cursor: pointer;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    padding: 0 25px;
    border-width: 2px;
    border-style: solid;
  }

  &.load_more_btn {
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    padding: 0 25px;
    border-width: 2px;
    border-style: solid;

    span {
      min-height: 22px;
    }
  }
}

.send_icon {
  margin-right: 5px;
  margin-left: -18px;
}

.btn_v2 {
  height: 50px;

  &.order_btn {
    padding: 0 40px;
    min-width: 204px;
    font: 14px/50px $ProximaNovaBold;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-left: -8px;
      margin-right: 8px;
      font-size: 24px;
    }

    @include respond-to-min-h($tablet_h) {
      margin-bottom: 20px;
    }

  }

  &.get_more_btn {
    padding: 15px 75px;
    min-width: 240px;
    font: 14px/20px $ProximaNovaBold;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;

    @include respond-to-min-h($tablet_h) {
      margin-bottom: 20px;
    }
  }
}

.btn_red {
  @include transition_all(background .3s);
  background: #951a37;
  color: #fff;

  &:hover {
    background: #7d0f29;
  }
}

.btn_gray {
  @include transition_all(border-color .3s, color .3s);
  border-color: #959ba5;
  color: #474f5e;
}

.btn_white {
  @include transition_all(background .3s, color .3s);
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #fff;
    color: #000;
  }

}

.btn_white_2 {
  background: #fff;
  color: #282828;
}

.green_btn {
  color: #fff;
  background: $gl_green;
}

// **********  text 

.text_underline {
  text-decoration: underline;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.color_red {
  color: #951a37;
}

.color_white {
  color: #dee0e7;
}

.color_white_2 {
  color: #fdfdfd;
}

.color_black {
  color: #000;
}

.color_gray {
  color: #282828;
}

.color_gray_2 {
  color: #5b5a5a;
}

$rectWidth: 1140px;

.rect_1024 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$rectWidth/2;
  width: $rectWidth;
  height: 100%;
  max-height: 900px;
  border: 1px solid red;
  z-index: 10;
  pointer-events: none;
  display: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: $rectWidth/2;
    width: 1px;
    background: red;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: red;
  }

}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: red;
}

.mob_hidden {
  @include respond-to-max($tablet) {
    display: none !important;
  }
}

.dt_hidden {
  @include respond-to-min($desktop) {
    display: none !important;
  }
}

.dt_only {
  @include respond-to-max($desktop) {
    display: none !important;
  }
}

//  todo remove

#chromeperfectpixel-panel {
  max-width: 100vw !important;
  left: 0 !important;
  top: 38px !important;
}

#chromeperfectpixel-panel.collapsed {
  right: auto !important;
  bottom: auto !important;
  display: block !important;
}

#chromeperfectpixel-panel #chromeperfectpixel-layers {
  max-height: 30vh !important;
  overflow: auto !important;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer {
  margin-right: 1px !important;
}

#chromeperfectpixel-ad {
  display: none !important;
}
