
html, body {
  min-width: 600px !important;
}

.wrapper {
  padding-top: 0 !important;
}

.header_menu_holder {
  position: relative;
  top: 0;
}

.map_holder {
  max-width: 100%;
}

.aside_menu_holder,
.top_menu_holder,
.contacts_list_btns,
.contacts_office_item,
.contact_city_filter,
.nav_holder,
.callback_btn.btn_v1 {
  display: none !important;
}

.partner_logo_holder {
  display: block !important;
  margin-top: 0;
  padding-top: 15px;
}

.contacts_office_item.active {
  display: block !important;
  float: left;
  width: 50%;
}

.g_map_clone {
  display: inline-block;
}

.contacts_list_links {
  margin-bottom: 0;
}

.contacts_office_time {
  float: right;
  position: relative;
  width: 40%;
}

.logo_holder {
  margin-right: 20px;
}

.contacts_list {
  text-align: left;
  margin-bottom: 0;
}