.service_tabs_holder {
  padding-top: 30px;
}

.service_tabs {
  @include transition_all(border-color .3s);
  text-align: center;
  border-bottom: 2px solid #c2c2c2;

  li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 3px;
  }

  &[data-active-tab="0"] {
    border-color: #961a32;

    .service_t_red .service_t_link {
      color: #fff;
      background: #961a32;
      border-color: #961a32;

      .service_t_all {
        &:before {
          @extend .svg-svg-service--services-all-white;
        }
      }
    }
  }

  &[data-active-tab="1"] {
    border-color: #07336c;

    .service_t_blue .service_t_link {
      color: #fff;
      background: #07336c;
      border-color: #07336c;

      .service_t_gen_director {
        &:before {
          @extend .svg-svg-service--services-gendir-white;
        }
      }
    }
  }

  &[data-active-tab="2"] {
    border-color: #1a9551;

    .service_t_green .service_t_link {
      color: #fff;
      background: #1a9551;
      border-color: #1a9551;

      .service_t_director {
        &:before {
          @extend .svg-svg-service--services-findir-white;
        }
      }
    }
  }

  &[data-active-tab="3"] {
    border-color: #e18309;

    .service_t_orange .service_t_link {
      color: #fff;
      background: #e18309;
      border-color: #e18309;

      .service_t_foreign {
        &:before {
          @extend .svg-svg-service--services-sobstv-white;
        }
      }
    }
  }
}

.service_tab_inner {
  padding-bottom: 45px;
}

.service_t_link {
  @include transition_all(border-color .3s, color .3s, background .3s);
  display: block;
  position: relative;
  border-radius: 4px 4px 0 0;
  border: 1px solid #c2c2c2;
  border-bottom: none;
  padding: 15px 15px 15px 20px;
  white-space: nowrap;
  height: 93px;
  text-decoration: none;
  font: 17px/60px $ProximaNovaBold;

  .service_t_icon,
  .solution_caption,
  .solution_icon {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
  }

  .service_t_red & {
    color: #961a32;

    &:hover {
      border-color: #961a32;
    }

  }

  .service_t_blue & {
    color: #07336c;

    &:hover {
      border-color: #07336c;
    }

  }

  .service_t_green & {
    color: #1a9551;

    &:hover {
      border-color: #1a9551;
    }

  }

  .service_t_orange & {
    color: #e18309;

    &:hover {
      border-color: #e18309;
    }

  }

}

.service_t_icon {
  width: 65px;
  height: 64px;
  margin-right: 1px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

  &.service_t_all {
    &:before {
      @extend .svg-svg-service--services-all;
      @extend .svg-svg-service--services-all-dims;
      top: 0;
      left: 0;
    }
  }

  &.service_t_gen_director {
    &:before {
      @extend .svg-svg-service--services-gendir;
      @extend .svg-svg-service--services-gendir-dims;
      top: -5px;
      left: -7px;
    }
  }

  &.service_t_director {
    &:before {
      @extend .svg-svg-service--services-findir;
      @extend .svg-svg-service--services-findir-dims;
      top: -5px;
      left: -7px;
    }
  }

  &.service_t_foreign {
    &:before {
      @extend .svg-svg-service--services-sobstv;
      @extend .svg-svg-service--services-sobstv-dims;
      top: -5px;
      left: -7px;
    }
  }
}

.service_t_name {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.service_unit {
  border-bottom: 2px solid #c2c2c2;
  padding: 0 0 35px 0;
  margin-bottom: 40px;

  &.service_u_red {
    border-color: #961a32;
  }

  &.service_u_blue {
    border-color: #07336c;
  }

  &.service_u_green {
    border-color: #1a9551;
  }

  &.service_u_orange {
    border-color: #e18309;
  }
}

.service_description {
  font: 15px/21px $ProximaNovaLight;
  clear: both;
  @extend %list_v1;

  > ul {
    margin-left: 28px;
    margin-bottom: 33px;

    > li {
      padding-left: 32px;
    }
  }

  p {
    margin-bottom: 17px;
  }

  @include respond-to-min($tablet) {
    padding-top: 20px;
  }

  @include respond-to-min($desktop) {
    padding: 0 10px 0 0;
    float: left;
    width: 650px;
    clear: none;
  }
}

.service_options {
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;

  p {
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 18px;
    letter-spacing: -.4px;
  }

  @include respond-to-min($mobile) {
    float: left;
    width: 50%;
  }

  @include respond-to-min($desktop) {
    float: right;
    width: 230px;
    margin-right: -13px;
  }
}

.service_option_link {
  font-family: $ProximaNovaLight;
}

.service_option_price {
  font-size: 24px;
}

.service_block {
  position: relative;
  padding: 35px 0 20px;
  @extend %clearfix;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #c2c2c2;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  @include respond-to-min($desktop) {
    &:before {
      right: 280px;
    }
  }
}

.service_info {
  position: relative;
  padding: 0 0 0 45px;
  margin-bottom: 15px;

  p {
    color: #6f757a;
    line-height: 20px;
    font-family: $ProximaNovaLight;
    letter-spacing: -.6px;
  }

  @include respond-to-min($mobile) {
    float: left;
    width: 50%;
    padding-right: 10px;
  }

  @include respond-to-min($tablet) {
    padding-right: 25px;
  }

  @include respond-to-min($desktop) {
    width: 240px;
  }
}

.service_switch {
  position: absolute;
  top: 0;
  left: 0;

  @include respond-to-min($tablet) {
    left: 5px;
  }
}

.service_switch_caption {
  font: 22px/28px $ProximaNovaBold;
  margin: -2px 0 8px;
}

.service_check {
  display: block;

  .check_text {
    display: block;
    position: relative;
    padding-left: 27px;
    min-width: 27px;
    min-height: 27px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      height: 27px;
      border-radius: 2px;
      border: 2px solid #961a32;
    }
  }

  .hidden_input:checked + .check_text {
    &:before {
      @extend %svg-common-price;
      background-position: 94.5% -3px;
    }
  }
}

.service_check_v2 {
  display: block;
  margin-left: -45px;
  margin-bottom: 5px;

  .check_text {
    display: block;
    position: relative;
    padding-left: 43px;
    min-height: 27px;
    font: 17px/23px $ProximaNovaSemibold;
    cursor: pointer;
    letter-spacing: -.1px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      height: 27px;
      border-radius: 2px;
      border: 2px solid #961a32;
    }

    &:after {
      content: '';
      background: #fecb00;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-left: 5px;
      @include transition_all(background .3s);
    }
  }

  .hidden_input:checked + .check_text {
    &:before {
      @extend %svg-common-price;
      background-position: 68.5% 45%;
    }

    &:after {
      background: #1a9551;
    }
  }
}

.pagination_holder {
  margin: -15px 0 15px;
}

.pagination_list {
  @extend %clearfix;
  margin-left: -15px;

  li {
    float: left;
    padding-left: 15px;

    .gl_link {
      font-family: $ProximaNovaLight;
      //text-shadow: 0 -1px 1px #bbb;
    }

    &.active {
      .gl_link {
        cursor: default;
      }
    }
  }
}

.service_detail_block {
  margin-bottom: 45px;
  padding-top: 30px;
  font-size: 18px;
  font-family: $ProximaNovaLight;
  letter-spacing: -.1px;
  @extend %clearfix;
}

.detail_criteria {
  position: relative;
  padding-top: 54px;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 4px;
    width: 166px;
    background: #000;
  }

  p {
    line-height: 28px;
    margin-bottom: 20px;
  }

  .service_option_price {
    margin: 40px 0 15px;
    font-size: 30px;
  }

  @include respond-to-min($desktop) {
    float: left;
    width: 292px;
    padding-right: 50px;
  }
}

.service_detail_info {

  p {
    margin-bottom: 20px;
    line-height: 26px;
  }

  @include respond-to-min($desktop) {
    float: left;
    width: 510px;
    padding-right: 60px;
    margin-top: -5px;
  }
}

.service_differences {
  border: 2px solid #dee0e7;
  padding: 48px 20px 28px 72px;

  .solution_item {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: -30px;
    padding-left: 30px;

    &:before {
      border: none;
      content: '';
      top: -3px;
      left: -10px;
      @extend .svg-svg-servicefull--servicefull-check;
      @extend .svg-svg-servicefull--servicefull-check-dims;
    }
  }

  @include respond-to-min($desktop) {
    float: left;
    width: 337px;
  }
}

.detail_criteria_order {
  @extend %clearfix;
  margin-bottom: 20px;
}

.detail_criteria_caption {
  color: #951a37;
  font: 24px $ProximaNovaBold;
  margin-bottom: 22px;
  letter-spacing: -.25px;
}

.service_diff_caption {
  font: 20px $ProximaNovaBold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.service_interesting {
  margin-left: -70px;
  position: relative;
  padding: 28px 0 10px;
  margin-bottom: 70px;
  @extend %clearfix;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 65px;
    border: solid #c2c2c2;
    border-width: 1px 0;
  }
}

.service_interesting_box {
  float: left;
  position: relative;
  z-index: 1;
  padding-left: 70px;
  margin-bottom: 20px;

  ul {
    li {
      margin-top: 17px;

      &:first-child {
        margin-top: 0;
      }

      .gl_link {
        font-size: 18px;
      }
    }
  }
}

.service_interesting_caption {
  padding-right: 6px;
  font: 24px $ProximaNovaBold;
}

.step_icon {
  position: relative;
  height: 64px;
  margin-bottom: 27px;

  &:before {
    position: absolute;
    content: '';
    //width: 64px;
    //height: 64px;
    top: 0;
    left: 0;
  }

  &.step_1:before {
    @extend .svg-svg-servicefull--servicefull-step1;
    @extend .svg-svg-servicefull--servicefull-step1-dims;
  }

  &.step_2:before {
    @extend .svg-svg-servicefull--servicefull-step2;
    @extend .svg-svg-servicefull--servicefull-step2-dims;
  }

  &.step_3:before {
    @extend .svg-svg-servicefull--servicefull-step3;
    @extend .svg-svg-servicefull--servicefull-step3-dims;
  }

  @include respond-to-min($desktop) {
    margin-top: 10px;
  }

}

.step_caption {
  position: relative;
  color: #961a32;
  font: 26px/30px $ProximaNovaBold;
  margin-bottom: 15px;

  @include respond-to-min($desktop) {
    min-height: 100px;
  }
}

.step_index {
  position: absolute;
  top: 0;
  margin-right: 30px;
  right: 100%;
  font: 72px/1 $ProximaNovaThin;
}

.step_info {
  font: 18px/26px $ProximaNovaLight;
  letter-spacing: -.1px;

  b {
    font-family: $ProximaNovaSemibold;
  }

  p {
    margin-bottom: 20px;
  }
}