include mixins
doctype html
html(lang='ru' class='page_slider_mod')
    +dev_head('FNA главная')

    body
        .wrapper
            .rect_1024
            .base
                a.icon-go_top.go_top_btn.goTopBtn(href='#')
                +header()

                div.main_slider.pageSlider
                    .slide_section.section_v1.firstPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .scroll_down_btn
                            .scroll-btn
                                a.learnMoreBtn(href='#')
                                    span.mouse
                                        span.mouse_wheel
                                    span.learn_more Узнай больше
                                    
                        .section_inner.clearfix
                            .hero_block
                                h1.block_title Контроль —  <br> первый шаг  <br>  к
                                    span.text_underline доверию
                                .hero_slogan Поможем не терять бизнес и держать руку на пульсе благодаря системному контролю не требующему постоянных действий.
                            
                            

                    .slide_section.section_v1.secondPage
                        .slide_img.slide_bg_v1
                        .section_inner.clearfix
                            .text_center
                                h2.block_title.color_gray Нам доверяют
                                h3.block_subcaption.color_gray_2 Нашими клиентами с 2005 года стали более 5 450 организаций.  <br> Это средние и крупные российские, иностранные и международные компании

                                
                                
                                
                    .slide_section.section_v1.thirdPage
                        .slide_img: img(src='i/index/history_section.jpg')
                        .section_inner.clearfix
                            
                        
                    .slide_section.section_v1.forthPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                                                        

                    .slide_section.section_v1.secondPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                            

                    .slide_section.section_v1.thirdPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                            
                            


