include mixins
doctype html
html(lang='ru' class='page_slider_mod')
    +dev_head('FNA главная')

    body
        .wrapper
            .rect_1024
            .base
                a.icon-go_top.go_top_btn.goTopBtn(href='#')
                +header()

                div.main_slider.pageSlider
                    .slide_section.section_v1.firstPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .scroll_down_btn
                            .scroll-btn
                                a.learnMoreBtn(href='#')
                                    span.mouse
                                        span.mouse_wheel
                                    span.learn_more Узнай больше
                                    
                        .section_inner.clearfix
                            .hero_block
                                h1.block_title Контроль —  <br> первый шаг  <br>  к
                                    span.text_underline доверию
                                .hero_slogan Поможем не терять бизнес и держать руку на пульсе благодаря системному контролю не требующему постоянных действий.
                            

                    .slide_section.section_v1.secondPage
                        .slide_img.slide_bg_v1
                        .section_inner.clearfix
                            .text_center
                                h2.block_title.color_gray Решения для бизнеса

                            ul.solution_list
                                li.solution_col
                                    .solution_icon.icon-puzzle_2
                                    .solution_caption: span Все решения для бизнеса
                                    
                                    .solution_item
                                        b Все виды аудита:
                                        p 
                                            a.gl_link(href='#') обязательный, комплексный, инициативный, налоговый, Due Diligence, МСА
                                                                        
                                    .solution_item
                                        b Все услуги по МСФО: 
                                        p 
                                            a.gl_link(href='#') трансформация отчетности, аудит по МСФО и МСА
                                                                                
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Налоговые юристы
                                            | : возврат переплат, сопровождение проверок, разрешение споров по налогам
                                                                        
                                    .solution_item
                                        p Еще 50+ услуг в одном месте: 
                                        p 
                                            a.gl_link(href='#') WiseAdvice Consulting Group >>
                                            
                                li.solution_col
                                    .solution_icon.icon-briefcase
                                    .solution_caption: span Генеральному директору
                                    
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Получить аудиторское заключение
                                            | : провести аудит — исполнить закон 302-ФЗ
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Проконтролировать и оптимизировать
                                            |  финансовые показатели, затраты, налоги и др.


                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Снизить риски 
                                            |  и личную ответственность, избежать штрафов 
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Получить кредит
                                            |  повысить доверие учредителей                                             
                                li.solution_col
                                    .solution_icon.icon-rub
                                    .solution_caption: span Фин. директору Глав. бухгалтеру
                                    
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Проверить состояние учета, 
                                            | вовремя найти и исправить замечания, подтвердить отчетность 
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Выявить налоговые риски 
                                            |  подготовиться к налоговой проверке, исключить штрафы

                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Получить рекомендациии опыт 
                                            | , повысить квалификацию
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Оптимизировать работу бухгалтерской службы
                                            | , улучшить автоматизацию, процессы и пр.
                                                               
                                li.solution_col
                                    .solution_icon.icon-city
                                    .solution_caption: span СобственникуИностр. компаниям
                                    
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Независимая проверка финансовых показателей
                                            | , включая размер прибылии дивидендов
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Контроль и оптимизация 
                                            |  налогов, завышения расходов / закупочных цен, бизнес-процессов и т.п. 

                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Проверка бизнеса (Due Diligence) 
                                            |  перед покупкой, подготовить к продаже;

                                    .solution_item
                                        p 
                                            a.gl_link(href='#') Привлечение финансирование 
                                            | . Повысить доверие партнеров, инвесторов
                                            
                                
                    .slide_section.section_v1.thirdPage
                        .slide_img: img(src='i/index/history_section.jpg')
                        .section_inner.clearfix
                                
                                
                    .slide_section.section_v1.secondPage
                        .slide_img.slide_bg_v1
                        .section_inner.clearfix
                            .text_center
                                h2.block_title.color_gray Нам доверяют
                                h3.block_subcaption.color_gray_2 Нашими клиентами с 2005 года стали более 5 450 организаций.  <br> Это средние и крупные российские, иностранные и международные компании

                        
                    .slide_section.section_v1.forthPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                                                        

                    .slide_section.section_v1.secondPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                            

                    .slide_section.section_v1.thirdPage
                        .slide_img: img(src='i/index/first_screen.jpg')
                        .section_inner.clearfix
                            
                            


