include mixins
doctype html
html(lang='ru' class='page_slider_mod_')
    +dev_head('FNA главная')

    body
        .wrapper
            .rect_1024
            .base
                a.go_top_btn.goTopBtn(href='#')
                    span.svg-svg-home--fna-svg--up-icon-dims.svg-svg-home--fna-svg--up-icon
                +header()
                .header_menu_holder
                    +header_menu(1)

                div.main_slider.pageSlider
                    .slide_section.section_v1.firstPage
                        .scroll_down_btn
                            .scroll-btn
                                a.learnMoreBtn(href='#secondScreen')
                                    span.mouse
                                        span.mouse_wheel
                                    span.learn_more Узнай больше
                        //+header()
                                
                        .slider_holder
                            .heroSlider.hero_slider
                                .hero_slide
                                    .slide_img: img(src='i/index/first_screen.jpg')
                                    .gl_table: .gl_table_cell: .section_inner.clearfix.slide_s_inner
                                        .hero_block
                                            .block_title Контроль — 
                                                span.mob_hidden <br>
                                                span  первый шаг 
                                                span.mob_hidden <br> 
                                                span  к&nbsp;
                                                span.text_underline доверию
                                            .hero_slogan Поможем не&nbsp;терять бизнес и держать руку на&nbsp;пульсе благодаря системному контролю не&nbsp;требующему постоянных действий.
                                
                            
                                .hero_slide
                                    .slide_img: img(src='i/index/choice_section.jpg')
                                    .gl_table: .gl_table_cell: .section_inner.clearfix.slide_s_inner
                                        .hero_block
                                            .block_title Слайд 2  
                                                span.mob_hidden <br>
                                                span  первый шаг 
                                                span.mob_hidden <br> 
                                                span  к&nbsp;
                                                span.text_underline доверию
                                            .hero_slogan Поможем не&nbsp;терять бизнес и держать руку на&nbsp;пульсе благодаря системному контролю не&nbsp;требующему постоянных действий.
                                
                            
                                .hero_slide
                                    .slide_img: img(src='i/index/history_section.jpg')
                                    .gl_table: .gl_table_cell: .section_inner.clearfix.slide_s_inner
                                        .hero_block
                                            .block_title Слайд 3  
                                                span.mob_hidden <br>
                                                span  первый шаг 
                                                span.mob_hidden <br> 
                                                span  к&nbsp;
                                                span.text_underline доверию
                                            .hero_slogan Поможем не&nbsp;терять бизнес и держать руку на&nbsp;пульсе благодаря системному контролю не&nbsp;требующему постоянных действий.
                                            
                            .hero_slider_controls: .section_inner
                                .slide_prev.heroSlidePrev.icon-go_top(style='display:none;')
                                .slide_next.heroSlideNext.icon-go_top

                    #secondScreen.slide_section.section_v1.secondPage
                        .slide_img.slide_bg_v1
                        .section_inner.clearfix
                            .text_center
                                h2.block_title.color_gray Решения для бизнеса

                            ul.solution_list
                                li.solution_col
                                    a.solution_header.header_red.gl_link.link_red(href='#')
                                        .solution_icon
                                            .service_icon.svg-svg-services--services-01-dims.svg-svg-services--services-01
                                        .solution_caption: span Все решения для бизнеса
                                    
                                    .solution_item
                                        b Все виды аудита:
                                        p 
                                            a.gl_link.link_red(href='#'): span обязательный, комплексный, инициативный, налоговый, Due Diligence, МСА
                                                                        
                                    .solution_item
                                        b Все услуги по МСФО: 
                                        p 
                                            a.gl_link.link_red(href='#'): span трансформация отчетности, аудит по МСФО и МСА

                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Налоговые юристы
                                            | : возврат переплат, сопровождение проверок, разрешение споров по налогам
                                                                        
                                    .solution_item
                                        p Еще 50+ услуг в&nbsp;одном месте: 
                                        p 
                                            a.gl_link.link_red(href='#'): span WiseAdvice Consulting Group >>
                                            
                                li.solution_col
                                    a.solution_header.header_blue.gl_link.link_blue(href='#')
                                        .solution_icon
                                            .service_icon.svg-svg-services--services-02-dims.svg-svg-services--services-02
                                        .solution_caption: span Генеральному директору
                                    
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Получить аудиторское заключение
                                            | : провести аудит — исполнить закон 302-ФЗ
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Проконтролировать и оптимизировать
                                            |  финансовые показатели, затраты, налоги и др.


                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Снизить риски
                                            |  и личную ответственность, избежать штрафов 
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Получить кредит
                                            |  повысить доверие учредителей                                             
                                li.solution_col
                                    a.solution_header.header_green.gl_link.link_green(href='#')
                                        .solution_icon
                                            .service_icon.svg-svg-services--services-03-dims.svg-svg-services--services-03
                                        .solution_caption: span Фин. директору Глав. бухгалтеру
                                    
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Проверить состояние учета
                                            | , вовремя найти и исправить замечания, подтвердить отчетность 
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Выявить налоговые риски
                                            |  подготовиться к&nbsp;налоговой проверке, исключить штрафы

                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Получить рекомендации опыт
                                            | , повысить квалификацию
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Оптимизировать работу бухгалтерской службы
                                            | , улучшить автоматизацию, процессы и пр.
                                                               
                                li.solution_col
                                    a.solution_header.header_yellow.gl_link.link_yellow(href='#')
                                        .solution_icon
                                            .service_icon.svg-svg-services--services-04-dims.svg-svg-services--services-04
                                        .solution_caption: span Собственнику Иностр. компаниям
                                    
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Независимая проверка финансовых показателей
                                            | , включая размер прибылии дивидендов
                                                                        
                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Контроль и оптимизация
                                            |  налогов, завышения расходов / закупочных цен, бизнес-процессов и т.п. 

                                    .solution_item
                                        p 
                                            a.gl_link.link_red(href='#'): span Проверка бизнеса (Due Diligance)
                                            |  перед покупкой, подготовить к&nbsp;продаже;

                                    .solution_item
                                        p 
                                            | <a href="#" class="gl_link link_red"><span>Привлечение финансирование</span></a>. Повысить доверие партнеров, инвесторов
                                        
                            .text_center
                                a.btn_v2.btn_red.get_more_btn(href='#') Выбор услуг
                                
                    .slide_section.section_v1.thirdPage
                        .slide_img: img(src='i/index/history_section.jpg')
                        .section_inner.clearfix.color_white

                            .text_center
                                h2.block_title История успеха
                                h3.block_subcaption Узнайте, как мы учитываем специфику российского законодательства  <br> и помогаем росту бизнеса в&nbsp;России из&nbsp;историй успеха
                            
                            ul.history_list
                                li.history_item: .history_unit
                                    .history_img: img(src='i/index/history_1.jpg')
                                    .history_caption: a.gl_link.link_white(href='#'): span Складской комплекс на&nbsp;территории Москвы (Due Diligence)
                                    p Проведение независимого расширенного аудита на&nbsp;предмет выявление скрытых обязательств организации, владеющей активами.
                                
                                li.history_item: .history_unit
                                    .history_img: img(src='i/index/history_2.jpg')
                                    .history_caption: a.gl_link.link_white(href='#'): span Иностранный импортер кондитерской продукции
                                    p Проведение независимого расширенного аудита на&nbsp;предмет выявление скрытых обязательств организации, владеющей активами.
                                
                                li.history_item: .history_unit
                                    .history_img: img(src='i/index/history_3.jpg')
                                    .history_caption: a.gl_link.link_white(href='#'): span Производство в&nbsp;Подмосковье - партнер Самсунг
                                    p Самсунг  предъявляет к&nbsp;своим поставщикам серьезные требования не&nbsp;только по качеству продукции, но и по&nbsp;финансовой устойчивости компании.
                                
                    .slide_section.section_v1.forthPage
                        .slide_img.slide_bg_v1
                        .section_inner.clearfix
                            .text_center
                                h2.block_title.color_gray Нам доверяют
                                h3.block_subcaption.color_gray_2 Нашими клиентами с&nbsp;2005 года стали более 5 450 организаций.  <br> Это средние и крупные российские, иностранные и международные компании
                                 
                            .partner_list_holder: ul.partner_list
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_1.png')
                                    .partenr_name Предприятие <br> по производству сыра
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_2.png')
                                    .partenr_name Страхование  <br> автомобилей
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_3.png')
                                    .partenr_name Крупнейшая розничная сеть  <br>  по торговле одеждой
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_4.png')
                                    .partenr_name Девелопер жилой  <br>  недвижимости
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_5.png')
                                    .partenr_name Предприятие  <br> по производству сыра
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_6.png')
                                    .partenr_name Страхование  <br> автомобилей
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_7.png')
                                    .partenr_name Крупнейшая розничная сеть  <br>  по торговле одеждой
                                        
                                li.partner_item
                                    a.partner_logo(href='#'): img(src='i/index/client_8.png')
                                    .partenr_name Девелопер жилой  <br>  недвижимости
                            
                            .text_center
                                a.btn_v2.btn_red.get_more_btn(href='#') клиенты
                                        
        
                    .slide_section.section_v1.fifthPage
                        .slide_img: img(src='i/index/choice_section.jpg')
                        .section_inner.clearfix.color_white

                            .text_center
                                h2.block_title Почему нас выбирают?

                            .choice_list_holder: ul.choice_list
                                li.choice_col
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-01.svg-svg-why--why-01-dims
                                        p Делаем самое выгодное предложение по соотношению цена-качество
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-02.svg-svg-why--why-02-dims
                                        p Защищаем перед налоговыми органами, даём финансовые гарантии
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-03.svg-svg-why--why-03-dims
                                        p Используем дружелюбныйи комфортный подход в&nbsp;работе
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-04.svg-svg-why--why-04-dims
                                        p Делаем сложное простыми понятным, даем наглядные результаты
                                        
                                li.choice_col
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-05.svg-svg-why--why-05-dims
                                        p Знаем специфику всех отраслей российской экономики и бизнеса
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-06.svg-svg-why--why-06-dims
                                        p Экономим время: имеем убедительный опыт уникальной команды для быстрого решения
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-07.svg-svg-why--why-07-dims
                                        p Даём полезные бонусы бесплатно. Для вас доступна обширная программа поддержки
                                    .choice_item
                                        .choice_icon
                                            span.svg-svg-why--why-08.svg-svg-why--why-08-dims
                                        p Избавляем от&nbsp;лишнего поиска. Более 50 бизнес-услуг в&nbsp;одной ГК WiseAdvice Consulting Group

                            .choice_info
                                p Лучшие аргументы и факты — это 
                                    a.gl_link.link_white(href='#'): span истории успеха
                                    |  и 
                                    a.gl_link.link_white(href='#'): span отзывы наших клиентов
                                    |  <br> Посмотрите, как наши отличия могут стать вашими  
                                    a.gl_link.link_white(href='#'): span преимуществами
                                    
                    .slide_section.section_v1.sixthPage
                        .slide_img.slide_bg_v2
                        .section_inner.clearfix.color_white
                            .text_center
                                h2.block_title Заказать и познакомиться
                                h3.block_caption Ваша скидка −10% при обращении с&nbsp;сайта.
                                
                            .order_form_holder
                                form(action='#')
                                    
                                    .form_cell.cell_v1
                                        label.hidden_input(for='order_name') Имя и фамилия
                                        .input_w: input#order_name.f_input.input_v1(placeholder='Имя и фамилия')
                                    
                                    .form_row.cell_2
                                        .form_cell.cell_v1
                                            label.hidden_input(for='order_phone') Телефон
                                            .input_w: input#order_phone.f_input.input_v1(placeholder='Телефон')
                                
                                        .form_cell.cell_v1
                                            label.hidden_input(for='order_email') Электронная почта
                                            .input_w: input#order_email.f_input.input_v1(placeholder='Электронная почта')
                            
                                    .form_cell.cell_v1
                                        label.hidden_input(for='order_comments') Комментарии
                                        .input_w: textarea#order_comments.f_input.input_v1(placeholder='Комментарии')
                            
                                    .form_tip Выберите полезные услуги для знакомства

                                    .form_row.cell_2.service_row
                                        .form_cell.cell_v1
                                            label.check_emul
                                                input.hidden_input(type='checkbox')
                                                span.check_text 
                                                    span.mb Консультация аудитора — получить ответ 
                                                        span.text_underline_thin бесплатно
                                     
                                        .form_cell.cell_v1
                                            label.check_emul
                                                input.hidden_input(type='checkbox')
                                                span.check_text 
                                                    span.mb Посетить Круглый стол — повысить квалификацию 10 час ИПБ
                                     
                                        .form_cell.cell_v1
                                            label.check_emul
                                                input.hidden_input(type='checkbox')
                                                span.check_text 
                                                    span.mb Совет юриста по налогам — как лучше исключить риски
                                     
                                        .form_cell.cell_v1
                                            label.check_emul
                                                input.hidden_input(type='checkbox')
                                                span.check_text 
                                                    span.mb Встретиться с&nbsp;аудиторами — узнать варианты решенияпроблем

                                    .text_center
                                        button.btn_v2.btn_white_2.order_btn
                                            span.mb.svg-svg-history--send-dims.svg-svg-history--send.send_icon
                                            span.mb Отправить

        +popups()
        
        +scripts(true)
        