include mixins
doctype html
html(lang='ru')
    +dev_head('FNA главная')

    body
        .wrapper
            .rect_1024
            .base
                +header()


                div.main_content


            +footer()
