mixin dev_head(page_title)
    head
        title=page_title
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='styles/main_global.css?no_cache', media='all')
        | <!--[if IE]>
        | <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        | <![endif]-->

mixin order_form(id_mod)
    .form_cell.cell_v1
        label.hidden_input(for= id_mod + 'order_name') Имя и фамилия
        .input_w: input.f_input.input_v1(placeholder='Имя и фамилия', id = id_mod + 'order_name')
    
    .form_row.cell_2
        .form_cell.cell_v1
            label.hidden_input(for= id_mod + 'order_phone') Телефон
            .input_w: input.f_input.input_v1(placeholder='Телефон', id = id_mod + 'order_phone')

        .form_cell.cell_v1
            label.hidden_input(for= id_mod + 'order_email') Электронная почта
            .input_w: input.f_input.input_v1(placeholder='Электронная почта', id = id_mod + 'order_email')

    .form_cell.cell_v1
        label.hidden_input(for='order_comments') Комментарии
        .input_w: textarea.f_input.input_v1(placeholder='Комментарии', id = id_mod + 'order_comments')

    .form_tip Выберите полезные услуги для знакомства

    .form_row.cell_2.service_row
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Консультация аудитора — получить ответ 
                        span.text_underline_thin бесплатно
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Посетить Круглый стол — повысить квалификацию 10 час ИПБ
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Совет юриста по налогам — как лучше исключить риски
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Встретиться с&nbsp;аудиторами — узнать варианты решенияпроблем

    .text_center
        button.btn_v2.btn_white_2.order_btn
            span.mb.svg-svg-history--send-dims.svg-svg-history--send.send_icon
            span.mb Отправить
            
mixin service_unit(cls)
    .service_unit(class=cls)
        ul.service_list
            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Получить аудиторское заключение
                    p Исполнить тредования законов РФ: 302-ФЗ, 208-ФЗ и другие

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Обязательный (финансовый) аудит

                    p Это минимальная проверка  бухгалтерской отчетности.РФ: 302-ФЗ, 208-ФЗ и другие. 
                        a.link_red.gl_link.service_option_link(href='#'): span Подробнее

                    .service_option_price от 95 000
                        span.rub a

                .service_description
                    p Результатом аудита по РСБУ (российским стандартам бухгалтерсокго учета) является аудиторское заключение —  документ, подтверждающий регулятору исполнение закона и подтверждение достоверности бухгалтерской (финансовой) отчетности организации.
                    p Для  руководителей иностранных компаний услуги по  МСФО (международным стандартам финансовой отчетности) и МСА (международным стандартам аудита) позволяют подтвердить финансовые показатели и предоставить в штаб-квартиру или глобальным аудиторам отчетность, подтвержденную заключением независимых аудиторов или формы по МСА.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Снизить риски 
                    p и личную ответственность, избежать штрафов.

                .service_description
                    p Независимая аудиторская проверка позволяет регулярно отслеживать финансовые показатели и основные риски, причины возникновения и их динамику, видеть полную картину деятельности компании для принятия взвешенных решений.
                    p Проведение аудита обеспечивает исполнение требований законов, в том числе НК РФ, а значит отсутствие штрафов и оснований для привлечения к ответственности.
                    p Кроме того, заранее найти несоответствия и ошибки в бухгалтерском и налоговом учете позволяет организации самостоятельно их исправить и, следовательно, своевременно исключить возможные риски.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Проконтроли-ровать и опти- мизировать
                    p финансовые показатели, затраты, налоги и др. Снизить  налоговые риски и ответственность, избежать штрафов и пеней.

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Комплексный аудит

                    p Обязательный аудит + налоговый аудит. 
                        a.link_red.gl_link.service_option_link(href='#'): span Подробнее

                    .service_option_price от 150 000
                        span.rub a

                .service_description
                    p По итогам аудита наша компания предоставляет отдельный отчет для руководства — «Обзор финансового состояния и рисков», где в наглядном, лаконичном виде вы увидите:

                    ul
                        li показатели отчетности и финансового состояния компании;
                        li уровень организации бухгалтерского учета; 
                        li добросовестность сотрудников и возможности для снижения необязательных расходов;
                        li вероятность выездной налоговой проверки по методологии ИФНС; 
                        li заранее выявленные и расчитанные налоговые риски;
                        li зоны возможной экономии на налогах и объемы такой экономии.

                    p Это позволит снизить риски и личную ответственность генерального директора, избежать штрафов и претензий, одновременно уменьшив налоговое бремя компании.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Получить кредит
                    p Получить кредит, повысить доверие учредителей.

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Инициативный аудит

                    p Самая гибкая форма аудита. Спросите — мы сделаем. 
                        a.link_red.gl_link.service_option_link(href='#'): span Подробнее

                    .service_option_price от 55 000
                        span.rub a

                .service_description
                    p Независимое мнение аудиторской компании, входящей в ТОП-25 российского аудита, в форме аудиторского заключения повышает доверие партнеров.
                    p Учредителям, банкам, инвесторам будет проще принять решение в вашу пользу и предоставить средства быстрее  и на более выгодных условиях.

    .text_center
        a.btn_v2.order_btn.btn_red(href='#') Заказать 
mixin popups()
    .gl_overlay.closeMenu
    
    #callback_form.popup_form.popup_form_v1( style='display:none;'): form(action='#')
        .form_title Заказать звонок
        .form_inner
            .form_cell.cell_v1
                label.hidden_input(for='callback_order_name') Имя и фамилия
                .input_w: input#callback_order_name.f_input.input_v1(placeholder='Имя и фамилия')
    
            .form_row.cell_2
                .form_cell.cell_v1
                    label.hidden_input(for='callback_order_phone') Телефон
                    .input_w: input#callback_order_phone.f_input.input_v1(placeholder='Телефон')
    
                .form_cell.cell_v1
                    label.hidden_input(for='callback_order_email') Электронная почта
                    .input_w: input#callback_order_email.f_input.input_v1(placeholder='Электронная почта')
    
            .form_cell.cell_v1
                label.hidden_input(for='callback_order_comments') Вопрос
                .input_w: textarea#callback_order_comments.f_input.input_v1(placeholder='Вопрос')
    
            .text_center
                button.btn_v2.btn_white_2.order_btn
                    span.mb.svg-svg-history--send-dims.svg-svg-history--send.send_icon
                    span.mb Отправить
                    
    #order_form.popup_form.popup_form_v1.popup_form_v1_mod_1.color_white_3( style='display:none;'): form(action='#')
        .text_center
            .form_title Заказать и познакомиться
            .block_caption Ваша скидка −10% при обращении с&nbsp;сайта.
        .form_inner
            +order_form('popup_')
                

mixin scripts(index, history, reviews, company, services)
    //-script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
    script(src='js/device.min.js?no_cache')
    script(src='js/jquery1.10.js?no_cache')
    script(src='js/select2.js?no_cache')
    script(src='js/jquery-ui-1.10.2.custom.min.js?no_cache')
    //script(src='js/dialog.js?no_cache')
    script(src='js/script.js?no_cache')
    - if (index)
        script(src='js/jquery.fullPage.js?no_cache')
        script(src='js/slick.js?no_cache')
        script(src='js/index.js?no_cache')
    - if (history)
        script(src='js/history.js?no_cache')
    - if (reviews)
        script(src='js/reviews.js?no_cache')
    - if (company)
        script(src='js/jquery-ui.js?no_cache')
        script(src='js/jquery.fullPage.js?no_cache')
        script(src='js/company.js?no_cache')
    - if (services)
        script(src='js/jquery-ui.js?no_cache')
        script(src='js/services.js?no_cache')


mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active_menu)
    div.header
        .top_menu_holder
            .section_inner.clearfix
                ul.top_menu
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-01
                        span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-02
                        span Генеральному <br> директору
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-03
                        span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-04
                        span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-05
                        span Контактная  <br>  информация

                //-ul.top_menu
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-puzzle
                        span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-briefcase
                        span Генеральному <br> директору
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-rub
                        span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-city
                        span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-map_pin
                        span Контактная  <br>  информация
                    
                //-ul.top_menu
                    li.top_m_item: a.gl_link.icon-puzzle_2(href='#'): span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link.icon-briefcase(href='#'): span Генеральному <br> директору
                    li.top_m_item: a.gl_link.icon-rub(href='#'): span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link.icon-city(href='#'): span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link.icon-map_pin(href='#'): span Контактная  <br>  информация

mixin link_o_span (is_link, link_href, cls, txt)
    - if (is_link)
        a(class=cls href=link_href)!= txt
            block
    - else
        span(class=cls)!= txt
            block

mixin header_menu(active_menu, index_link)
    .section_inner.clearfix
        .logo_section
            .partner_logo_holder
                //a.logo.icon-wiseadvice-logo(href='#')
                a.logo(href= index_link ? 'index.html' : '#')
                    .logo_icon
            .fl.logo_holder
                .mb
                    +link_o_span(index_link, 'index.html' , 'company_name' , 'ФНА&nbsp;&middot;&nbsp;Аудит')
                    //- if (index_link)
                    //    a.company_name(href='index.html') ФНА&nbsp;&middot;&nbsp;Аудит
                    //- else
                    //    span.company_name ФНА&nbsp;&middot;&nbsp;Аудит
                        
            .fl.mob_hidden
                .mb
                    .company_slogan Профессионально  <br>  для бизнеса
                        
            .fr.mob_hidden
                .mb
                    a.callback_phone.orderOpenBtn(href='#')
                        span.callback_icon
                            span.svg-svg-home--fna-svg--phone-icon
                        span +7 495 134-32-23
    
            .fr.mob_hidden
                .mb
                    a.callback_btn.btn_v1.btn_white.callbackOpenBtn(href='#') Заказать звонок
    
        .nav_holder
            .open_menu_btn.openMenu
            .nav_overlay.closeMenu
            .nav
                .user_menu_holder
                    ul.user_menu
                        li.user_m_item
                            .mb
                                a.lang_link(href='#')
                                    img(src='i/flag_gb.jpg')
                                    span Eng
                            //-.mb: .lang_menu.chosen_v1.no_search
                                select.chosen-select
                                    option.lang_flag.flag_gb(selected) Eng
                                    option.lang_flag.flag_rf Рус
                        li.user_m_item
                            //-.mb: a.user_m_link.icon-facebook(href='#')
                            .mb: a.user_m_link(href='#')
                                span.soc_icon
                                    span.svg-svg-home--fna-svg--facebook-ico
                .main_menu_holder
                    ul.main_menu
                        li.menu_item(class = active_menu == 1 ? 'active' : '')
                            +link_o_span(!(active_menu == 1), 'index.html', 'menu_link', '')
                                //-span.mb.icon-home.home_link
                                span.mb.home_link
                                    span.svg-svg-home--fna-svg--home-ico.home_link_icon.svg-svg-home--fna-svg--home-ico-dims
                                span.mb.dt_hidden Главная
                        li.menu_item(class = active_menu == 2 ? 'active' : '')
                            +link_o_span(!(active_menu == 2), 'company.html', 'menu_link', '')
                                span.mb О компании
                        li.menu_item(class = active_menu == 3 ? 'active' : '')
                            +link_o_span(!(active_menu == 3), 'services.html', 'menu_link', '')
                                span.mb Выбор услуг
                        li.menu_item(class = active_menu == 4 ? 'active' : '')
                            +link_o_span(!(active_menu == 4), 'history.html', 'menu_link', '')
                                span.mb Истории успеха
                        li.menu_item(class = active_menu == 5 ? 'active' : '')
                            +link_o_span(!(active_menu == 5), 'reviews.html', 'menu_link', '')
                                span.mb Отзывы клиентов
                        li.menu_item(class = active_menu == 6 ? 'active' : '')
                            +link_o_span(!(active_menu == 6), 'history.html', 'menu_link', '')
                                span.mb Цены
                        li.menu_item(class = active_menu == 7 ? 'active' : '')
                            +link_o_span(!(active_menu == 7), 'history.html', 'menu_link', '')
                                span.mb Контакты
            

mixin footer()
    .footer