%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-svg-contacts--contacts-mail {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-svg-contacts--contacts-mail-dims {
	width: 42px;
	height: 36px;
}

.svg-svg-contacts--contacts-phone {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-svg-contacts--contacts-phone-dims {
	width: 42px;
	height: 42px;
}

.svg-svg-contacts--contacts-print {
	@extend %svg-common;
	background-position: 53.164556962025316% 82%;
}

.svg-svg-contacts--contacts-print-dims {
	width: 28px;
	height: 28px;
}

.svg-svg-contacts--contacts-rekviziti {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-svg-contacts--contacts-rekviziti-dims {
	width: 24px;
	height: 28px;
}

.svg-svg-contacts--contacts-time {
	@extend %svg-common;
	background-position: 63.63636363636363% 0;
}

.svg-svg-contacts--contacts-time-dims {
	width: 41px;
	height: 41px;
}

