%svg-common-price {
  background: url("svg/price-sprite.view.svg") no-repeat;
}

.svg-svg-price--price-arrow {
  @extend %svg-common-price;
  background-position: 0 99.37648085796235%;
}

.svg-svg-price--price-arrow-dims {
  width: 32.81px;
  height: 32.81px;
}

.svg-svg-price--price-audit {
  @extend %svg-common-price;
  background-position: 54.36197052184305% 0;
}

.svg-svg-price--price-audit-dims {
  width: 40.69px;
  height: 40.75px;
}

.svg-svg-price--price-bonus {
  @extend %svg-common-price;
  background-position: 0 0;
}

.svg-svg-price--price-bonus-dims {
  width: 40.94px;
  height: 41.44px;
}

.svg-svg-price--price-close {
  @extend %svg-common-price;
  background-position: 50.58341608738828% 53.42960288808664%;
}

.svg-svg-price--price-close-dims {
  width: 35.44px;
  height: 35.44px;
}

.svg-svg-price--price-dropdown {
  @extend %svg-common-price;
  background-position: 88.51659076122316% 63.47406007141357%;
}

.svg-svg-price--price-dropdown-dims {
  width: 23.78px;
  height: 17.78px;
}

.svg-svg-price--price-tables {
  @extend %svg-common-price;
  background-position: 0 55.438127090301%;
}

.svg-svg-price--price-tables-dims {
  width: 40.75px;
  height: 38.25px;
}

.svg-svg-price--price-wcheckbox-galka {
  @extend %svg-common-price;
  background-position: 99.81658107116654% 0;
}

.svg-svg-price--price-wcheckbox-galka-dims {
  width: 34.22px;
  height: 30.22px;
}

.svg-svg-price--price-whcheckbox-galka {
  @extend %svg-common-price;
  background-position: 99.81658107116654% 36.506402512684225%;
}

.svg-svg-price--price-whcheckbox-galka-dims {
  width: 34.22px;
  height: 30.22px;
}

