%svg-common-why {
  background: url("svg/why-sprite.view.svg") no-repeat;
}

.svg-svg-why--svg--fna-svg--why-01 {
  @extend %svg-common-why;
  background-position: 0 0;
}

.svg-svg-why--svg--fna-svg--why-01-dims {
  width: 74px;
  height: 68.82px;
}

.svg-svg-why--svg--fna-svg--why-02 {
  @extend %svg-common-why;
  background-position: 0 48.12587412587412%;
}

.svg-svg-why--svg--fna-svg--why-02-dims {
  width: 73.87px;
  height: 74px;
}

.svg-svg-why--svg--fna-svg--why-03 {
  @extend %svg-common-why;
  background-position: 49.98649013780059% 0;
}

.svg-svg-why--svg--fna-svg--why-03-dims {
  width: 72.96px;
  height: 74px;
}

.svg-svg-why--svg--fna-svg--why-04 {
  @extend %svg-common-why;
  background-position: 99.97278911564625% 0;
}

.svg-svg-why--svg--fna-svg--why-04-dims {
  width: 74px;
  height: 68.58px;
}

.svg-svg-why--svg--fna-svg--why-05 {
  @extend %svg-common-why;
  background-position: 99.97278911564625% 47.95804195804196%;
}

.svg-svg-why--svg--fna-svg--why-05-dims {
  width: 74px;
  height: 74px;
}

.svg-svg-why--svg--fna-svg--why-06 {
  @extend %svg-common-why;
  background-position: 0 99.87412587412588%;
}

.svg-svg-why--svg--fna-svg--why-06-dims {
  width: 74px;
  height: 74px;
}

.svg-svg-why--svg--fna-svg--why-07 {
  @extend %svg-common-why;
  background-position: 49.60450462528489% 99.87412587412588%;
}

.svg-svg-why--svg--fna-svg--why-07-dims {
  width: 71.82px;
  height: 74px;
}

.svg-svg-why--svg--fna-svg--why-08 {
  @extend %svg-common-why;
  background-position: 99.19727891156462% 98.76901798063624%;
}

.svg-svg-why--svg--fna-svg--why-08-dims {
  width: 74px;
  height: 72.4px;
}

