%svg-common-why {
  background: url("svg/why-sprite.view.svg") no-repeat;
}

.svg-svg-why--slider-arrow {
  @extend %svg-common-why;
  background-position: 0 0;
}

.svg-svg-why--slider-arrow-dims {
  width: 72.97px;
  height: 98.41px;
}

.svg-svg-why--why-01 {
  @extend %svg-common-why;
  background-position: 33.027522935779814% 56.22464720333657%;
}

.svg-svg-why--why-01-dims {
  width: 72px;
  height: 61.97px;
}

.svg-svg-why--why-02 {
  @extend %svg-common-why;
  background-position: 0 59.7329286798179%;
}

.svg-svg-why--why-02-dims {
  width: 72px;
  height: 72.25px;
}

.svg-svg-why--why-03 {
  @extend %svg-common-why;
  background-position: 67.84862385321101% 0;
}

.svg-svg-why--why-03-dims {
  width: 72px;
  height: 74.09px;
}

.svg-svg-why--why-04 {
  @extend %svg-common-why;
  background-position: 33.930066028085186% 0;
}

.svg-svg-why--why-04-dims {
  width: 74.94px;
  height: 63.94px;
}

.svg-svg-why--why-05 {
  @extend %svg-common-why;
  background-position: 98.17410714285714% 39.1812865497076%;
}

.svg-svg-why--why-05-dims {
  width: 66px;
  height: 66px;
}

.svg-svg-why--why-06 {
  @extend %svg-common-why;
  background-position: 27.43362831858407% 98.64739884393063%;
}

.svg-svg-why--why-06-dims {
  width: 64px;
  height: 64px;
}

.svg-svg-why--why-07 {
  @extend %svg-common-why;
  background-position: 0 99.69040247678019%;
}

.svg-svg-why--why-07-dims {
  width: 62px;
  height: 65.81px;
}

.svg-svg-why--why-08 {
  @extend %svg-common-why;
  background-position: 99.9590909090909% 0;
}

.svg-svg-why--why-08-dims {
  width: 70px;
  height: 67px;
}

