%svg-common-why {
  background: url("svg/why-sprite.view.svg") no-repeat;
}

.svg-svg-why--why-01 {
  @extend %svg-common-why;
  background-position: 51.47878787878788% 50.7622045300253%;
}

.svg-svg-why--why-01-dims {
  width: 82px;
  height: 71.97px;
}

.svg-svg-why--why-02 {
  @extend %svg-common-why;
  background-position: 51.47878787878788% 0;
}

.svg-svg-why--why-02-dims {
  width: 82px;
  height: 82.25px;
}

.svg-svg-why--why-03 {
  @extend %svg-common-why;
  background-position: 0 49.32292708958709%;
}

.svg-svg-why--why-03-dims {
  width: 82px;
  height: 84.09px;
}

.svg-svg-why--why-04 {
  @extend %svg-common-why;
  background-position: 0 0;
}

.svg-svg-why--why-04-dims {
  width: 84.94px;
  height: 73.94px;
}

.svg-svg-why--why-05 {
  @extend %svg-common-why;
  background-position: 97.62573099415205% 48.734177215189874%;
}

.svg-svg-why--why-05-dims {
  width: 76px;
  height: 76px;
}

.svg-svg-why--why-06 {
  @extend %svg-common-why;
  background-position: 41.61849710982659% 98.76875%;
}

.svg-svg-why--why-06-dims {
  width: 74px;
  height: 74px;
}

.svg-svg-why--why-07 {
  @extend %svg-common-why;
  background-position: 0 99.89885580630887%;
}

.svg-svg-why--why-07-dims {
  width: 72px;
  height: 75.81px;
}

.svg-svg-why--why-08 {
  @extend %svg-common-why;
  background-position: 99.96407185628742% 0;
}

.svg-svg-why--why-08-dims {
  width: 80px;
  height: 77px;
}

